body {
	font-family: 'Source Sans Pro', Sans-Serif;
	font-size: 20px;
	letter-spacing: 1.5px;
    text-align: center;
    background-color: #6D9788;
    color: #E6E1C2;
}

#container {
    padding-bottom: 38px;
}

#module {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #1E2528;
	color: #7E1C13;
	text-align: center;
	z-index: 10;
}

h1 {
	font-size: 40px;
	margin: 200px 0 50px;
}

a {
	margin: 0 10px;
	font-size: 18px;
	text-decoration: none;
	color: #E6E1C2;
}


#stats_container {
	padding-top: 80px;
}

.stat {
	display: inline-block;
	padding: 15px;
}


span {
  display:block;
}
.container {
    width: 500px;
    height: 400px;
    margin:0 auto;
    background-color: #1E2528;
    border: 5px solid #E6E1C2;
    text-align:center;
    position:relative;
}
.dude_container {
    text-align:center;
    position:relative;
    top:25%;
    display:inline-block;
}
.dude-body {
    background:#F76B6D;
    margin:0 auto;
    width:200px;
    height:200px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    position:relative;
    z-index:4;
}


.face {
    width:180px;
    position:relative;
}

.eyes {
    width:200px;
    height:40px;
    position:relative;
}
.eye {
   position:absolute;
   width:18px;
   height:40px;
   background:#E6E1C2;
   top:35px;
   border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}
 .eye:before {
    content:"";
    display:block;
    width:10px;
    height:10px;
    background:#1E2528;
    position: absolute;
    left:4px;
    top:10px;
    border-radius:50%;
}
.eye-left {
    left:30%;
}

.eye-right {
    right:30%;
}
.mouth {
    width:45px;
    height:12px;
    background-color:#440109;
    position:relative;
    top:80px;
    left:80px;
    border-radius: 0px 0px 170px 170px;
    -moz-border-radius: 0px 0px 170px 170px;
    -webkit-border-radius: 0px 0px 170px 170px;    
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.frown {
	left: 90px;
	height: 35px;
	width: 25px;
	background-color: black;
	border-radius: 50%;
	transition: all .1s ease-in-out;

}

.confused{
	top: 30px;
}

.joy {
	left: 70px;
	height: 15px;
	width: 60px;
	background-color:black;
	border-radius: 0px 0px 170px 170px;
	transition: all .1s ease-in-out;
}




.hug {
	-webkit-animation: hug .7s;
	-moz-animation: hug .7s;
	-ms-animation: hug .7s;
	-o-animation: hug .7s;
	animation: hug .7s;
}


button {
	padding: 10px 20px;
	margin-top: 1%;
	border: none;
	border-radius: none;
	font-size: 18px;
	font-weight: bold;
	color: #7E1C13;
	background-color:#E6E1C2;
	cursor: pointer;
}

button:active {
	background-color: #bcb79a;	
}


@-webkit-keyframes hug {
	0% {-webkit-transform: scaleY(1); }
	50% {-webkit-transform: scaleY(1.3) scaleX(0.8); }
	100% {-webkit-transform: scaleY(1); }
}


@-moz-keyframes hug {
	0% {-moz-transform: scaleY(1); }
	50% {-moz-transform: scaleY(1.3) scaleX(0.8); }
	100% {-moz-transform: scaleY(1); }
}

@-ms-keyframes hug {
	0% {-ms-transform: scaleY(1); }
	50% {-ms-transform: scaleY(1.3) scaleX(0.8); }
	100% {-ms-transform: scaleY(1); }
}

@-o-keyframes hug {
	0% {-o-transform: scaleY(1); }
	50% {-o-transform: scaleY(1.3) scaleX(0.8); }
	100% {-o-transform: scaleY(1); }
}



@keyframes hug {
	0% {transform: scaleY(1); }
	50% {transform: scaleY(1.3) scaleX(0.8); }
	100% {transform: scaleY(1); }
}




























